	/* Style for the sidebar */
    .sidebar {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(5, 5, 151);
        overflow-x: hidden;
        padding-top: 20px;
      }

      /* Style for the sidebar links */
      .sidebar a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
      }

      /* Style for the active sidebar link */
    

      /* Style for the sidebar on hover */
      .sidebar a:hover:not(.active) {
        background-color: #555;
        color: white;
      }

      /* Style for the main content */
      .main {
        margin-left: 200px; /* Same width as the sidebar */
        padding: 0px 10px;
      }
      #navbar{
        background-color: rgb(5, 5, 151);
      }

/* Style for background login */
      html, body{
        height:100%;
    }
    .card {
       position: relative;
       display: flex;
       flex-direction: column;
       min-width: 0;
       word-wrap: break-word;
       background-color: rgb(193, 193, 214);
       background-clip: border-box;
       border: 1px solid rgba(0, 0, 0, 0.125);
       border-radius: 0.25rem;
       background: border-box;
       border-color: red;
       border-width: thick;
   } 
body {
margin: 0;
font-family: var(--bs-body-font-family);
font-size: var(--bs-body-font-size);
font-weight: var(--bs-body-font-weight);
line-height: var(--bs-body-line-height);
color: white;
text-align: var(--bs-body-text-align);
background-color:grey ;
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
    .bg-video {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -1;
    }
    .bg-video video {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
    .card {
        width: 100%;
        max-width: 400px;
    }
    img.logo {
        max-height: 400px;
    }